* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-size: 20px;
 }
li {
  position: relative;
}

.main-nav {
  display: flex
}
.container {
  width: 1424px;
  display: flex;
  margin: auto;
}
.left {
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;

}
.right {
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;

}
.right .dropdown a {
  padding-right: 15px;
}
.list-inline {
display: flex;
}
.list-inline li {
  padding: 0px 20px;
  list-style: none;
}
.list-inline li img {
  width: 100px;
  height: 100%;
}
.list-inline li a {
  text-decoration: none;
  color: #a4aab1;

}

.list-inline li a:hover {
color: #000;
}
.dropdown-menu {
  position: absolute;
  display: none;
  border: 1px solid black;
  border-radius: 10px;
}

.dropdown-menu ul li {
  list-style: none;
  padding: 10px 20px;
}
.dropdown-menu ul li:hover {
  border-radius: 10px;

  background-color: silver;
}
.dropdown-menu ul li a {
  text-decoration: none;
  display: block;
}
button {
  padding: 10px 20px;
  margin: 30px 0px;
  margin-left: 50px;
  border-radius: 30px;
  background-color: #eb008d;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #ff75c8;
}
.right .dropdown .dropdown-menu ul li {
  padding: 10px 5px;
}
